__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
.env/

.ipynb_checkpoints/
models_backup/
tmp/
checkpoints/
lightning_logs/
trained_models/

debug/CCTSDB/
debug/Medical_dataset/
debug/tt100k/
debug/tt100k_experiment/

dataset/custom/

setup.py

.vscode/
.idea/

.DS_Store
Thumbs.db